$green: gray;
.Fight--Board{
    margin: auto;
    margin-top: 48px;
    
    height: 463px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.player--Block{
    display: flex;
    flex-direction: column;
    
    span{
        font-family: "Barlow Semi Condensed";
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 3px;
        text-align: left;
        color: white;
        text-align: center;
        margin-bottom: 63px;
        

    }
}
.winner--Block{
    
    font-family: "Barlow Semi Condensed";
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    button{
        font-family: "Barlow Semi Condensed";
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 2.5px;
        text-align: left;
        width: 220px;
        height: 48px;
        background-color: #F3F3F3;
        border-radius: 8px;
        border: none;
        text-align: center;
        cursor: pointer;
    }
    button:hover{
        color:red;
    }

}

  
.token--Fight--hide {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border: none;
}
.token--Fight{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(0deg, #F3F3F3 0%, #DADADA 98.34%);
    border: 40px solid #EB9F0E;
    box-shadow: inset 0px 5.5px 0px #BABFD4;
    
       svg{
        size: 50px;
    }
    

}
  
.token--Fight.hide {
    visibility: hidden;
  }
.Scissors{
    top: 0%;
}
.Lizard{
    
    border-color: #834EE3;
}
.Rock{

    border-color: #DB2E4D;
}
.Spock{

    border-color: #2D8DAB;
}
.Paper{

    border-color: #4664F4;
}



.ripple-animation {
    animation: radar 3s linear infinite;
    position: relative;


    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }

  @keyframes radar {
    0% {
      box-shadow: 0 0 0 0 rgba($green, 0.1),
                  0 0 0 0 rgba($green, 0.1),
                  0 0 0 0 rgba($green, 0.1),
                  0 0 0 0 rgba($green, 0.1);
    }
    20% {
      box-shadow: 0 0 0 20px rgba($green, 0.3),
                  0 0 0 0 rgba($green, 0.1),
                  0 0 0 0 rgba($green, 0.1),
                  0 0 0 0 rgba($green, 0.1);
    }
    40% {
      box-shadow: 0 0 0 40px rgba($green, 0.3),
                  0 0 0 20px rgba($green, 0.3),
                  0 0 0 0 rgba($green, 0.1),
                  0 0 0 0 rgba($green, 0.1);
    }
    60% {
      box-shadow: 0 0 0 60px rgba($green, 0.3),
                  0 0 0 40px rgba($green, 0.3),
                  0 0 0 20px rgba($green, 0.3),
                  0 0 0 0 rgba($green, 0.1);
    }
    80% {
      box-shadow: 0 0 0 80px rgba($green, 0.3),
                  0 0 0 60px rgba($green, 0.3),
                  0 0 0 40px rgba($green, 0.3),
                  0 0 0 20px rgba($green, 0.3);
    }
    100% {
      box-shadow: 0 0 0 80px rgba($green, 0),
                  0 0 0 60px rgba($green, 0),
                  0 0 0 40px rgba($green, 0),
                  0 0 0 20px rgba($green, 0);
    }
  }
  